@use '../abstract/colors';

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #f1f1f1;
    padding: 1.5rem;

    &__logo {
        display: flex;

        &:hover {
            color: #000;
        }
    }

    &__content {
        display: flex;
        align-items: center;
    }

        &__controls {
            display: flex;
            align-items: center;
            margin: 0 0 0 2rem;
        }
            &__control-btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 0 0 2rem;
                font-size: 1.3rem;
                text-decoration: underline;
                color: #000;    

                img {
                    margin: 0 0 0.5rem 0;
                }

                &:hover {
                    text-decoration: none;
                }
            }
}