@use '../abstract/colors';

.container {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.content {    

    &__intro {
        background: #fff;
        padding: 3rem 0;
    }

    &__products {
        background: #fff;
        padding: 3rem 0;
    }

    &__product-detail {
        background: #fff;
        padding: 3rem 0;
    }

    h1 {
        margin: 0 0 2rem 0;
        padding: 0;
        line-height: 1.0;
        font-size: 3.2rem;
    }
}